.navbar
{
    padding: 15px 0px;     
    border-bottom: none !important;
    transition: all 0.5s ease-in-out;
}
.navbar .navbar-brand
{
    padding: 0px;
}
.navbar ul li a
{
    color: white !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px; 
    font-size: 13px;
    transition: all 0.5s ease-in;
      
}

.navbar ul li a:hover, .navbar ul li a:focus
{
    color: deepskyblue !important;
    background: none !important;
}

.navbar-toggle
{
    border: 1px solid  !important;
    color: white !important;
    transition: all 0.5s ease-in;
}

.icon-bar
{
    color: white !important;
    background-color: white !important;
}
.navbar-toggle:hover
{
    background-color: deepskyblue !important;
}

 
.navbar-inverse .navbar-collapse
{
  border-color: transparent !important;  
       
}

  
.location
{
    border: 1px solid white;
    border-radius: 50px;
    background: deepsky;
    
}

.navbar-inverse
{
    background-color:transparent !important;
}  
.slider
{
    width: 100%;
    height: 789px;
    background-image: url(..//img/slider.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    
    
}
.slider-overlay
{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.65);
    position: relative;
}
.text-rapoarte
{
    color: wheat
}